/.phpunit.cache
/node_modules
/public/app
/public/build
/public/hot
/public/storage
/public/assets
/public/.htaccess
/public/vendor/telescope
/storage/*.key
/storage/pail
/bootstrap/ssr
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/composer.lock
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.osp
